body {
  background-image: linear-gradient(to right, #555555, #7e8a97);
}

.bodyContainer {
  border: 2px solid #dc3545;
  border-radius: 8px;
  padding: 0;
  margin: 3% 0 1% 20%;
  text-align: center;
  background-color: #f9f6f7;
  width: 60%;
}

.fix {
  text-align: center;
}

img {
  width: 30%;
  margin-top: 5%;
}

/* Phone Number section */
#phoneNumber {
  text-align: center;
  font-family: "Fjalla One", sans-serif;
}

section p {
  font-size: 120%;
}

.input-group {
  margin: auto;
}

/* for the button */
.submit-btn {
  padding: 2% 0 1% 0;
  margin-left: 0;
}

#footer {
  padding: 1% 0;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  color: white;
}

.input-group {
  width: 50%;
  text-align: center;
}

@media (max-width: 800px) {
  p {
    font-size: 80%;
    padding: 5% 10%;
  }
  button {
    margin-bottom: 10px;
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
  }
  #hint {
    font-size: 60%;
    color: rgba(129, 129, 129, 0.582);
    margin-bottom: 0%;
  }
  .input-group {
    width: 90%;
  }
  input {
    width: 20%;
    box-sizing: border-box;
  }

  .input-group-text {
    box-sizing: border-box;
    width: 100%;
    white-space: break-spaces;
  }
}
